//
//  Stg.xcconfig
//  xcconfigSample
//
//  Created by satorun on 2026/01/30.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
#include "Common.xcconfig"
#include "ReleaseBase.xcconfig"
#include "ApiProd.xcconfig"
