# Xcode
*.xcodeproj/**/xcuserdata/
*.xcworkspace/**/xcuserdata/
*.xcodeproj/**/project.xcworkspace/xcshareddata/swiftpm/
*.xcworkspace/**/swiftpm/
xcuserdata/

# Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Swift Package Manager
.build/
Package.resolved

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# macOS
.DS_Store
*.swp
*~
